{% extends "base.html.twig" %}

{% block body %}

	{% if error %}
		<p class="alert alert-danger">{{ error.messageKey }}</p>
	{% endif %}



	<div class="container">
		<div class="row">
			<div class="login-form bg-light mt-4 p-4">
				<form method="post" class="row g-3">
					<h1 class="h3 mb-3 font-weight-normal">Connectez Vous</h1>
					<div class="col-12">
						<label for="username">Nom d'utilisateur</label>
						<input type="username" name="username" id="username" value="{{ last_username }}" class="form-control" required>
					</div>
					<div class="col-12">
						<label for="password">Mot de passe</label>
						<input type="password" name="password" id="password" class="form-control" required>
					</div>
					<div class="col-12">
						<button class="btn btn-lg btn-primary float-end" type="submit">
							Se connecter
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
