{% extends "base.html.twig" %}

{% block body %}
<br><br>
<div class="d-flex justify-content-around">
	<div style="width: 20%;">
		<ol class="list-group">
			<li class="list-group-item-warning list-group-item list-group-item-action">
				<pres>1 <a href="#">Thomas</a> 130 points</pres>
			</li>
			<li class="list-group-item-secondary list-group-item list-group-item-action">
				<pres>2 <a href="#">Romain</a> 110 points</pres>
			</li>
			<li class="list-group-item list-group-item-action">
				<pres>3 <a href="#">Damien</a> 109 points</pres>
			</li>
            <li class="list-group-item list-group-item-action">
				<pres>3 <a href="#">Loan</a> 100 points</pres>
			</li>
            <li class="list-group-item list-group-item-action">
				<pres>3 <a href="#">Cyrian</a> 19 points</pres>
			</li>
            <li class="list-group-item list-group-item-action">
				<pres>3 <a href="#">Damien</a> 109 points</pres>
			</li>
            <li class="list-group-item list-group-item-action">
				<pres>3 <a href="#">Damien</a> 109 points</pres>
			</li>

		</ol>
	</div>
    <div style="width: 20%;">
		<ol class="list-group">
			<li class="list-group-item list-group-item-action">
				<pres>1 <a href="#">Thomas</a> 130 points</pres>
			</li>
			<li class="list-group-item-secondary list-group-item">
				<pres>2 <a href="#">Romain</a> 110 points</pres>
			</li>
			<li class="list-group-item list-group-item-action">
				<pres>3 <a href="#">Damien</a> 109 points</pres>
			</li>
            <li class="list-group-item list-group-item-action">
				<pres>3 <a href="#">Damien</a> 109 points</pres>
			</li>
            <li class="list-group-item list-group-item-action">
				<pres>3 <a href="#">Damien</a> 109 points</pres>
			</li>
            <li class="list-group-item list-group-item-action">
				<pres>3 <a href="#">Damien</a> 109 points</pres>
			</li>
            <li class="list-group-item list-group-item-action">
				<pres>3 <a href="#">Damien</a> 109 points</pres>
			</li>

		</ol>
	</div>
</div>  
{% endblock %}
