{% extends "base.html.twig" %}

{% block body %}
<br>
	<div class="d-flex flex-wrap justify-content-around">
		<div class="col-m-5" style="width: 20rem;">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title" style="text-align: center;">Ethan</h3>
				</div>

				<div class="card-image" style="text-align: center;">
					<img style="width: 20rem;" src="./images/WIN_20211119_10_48_40_Pro.jpg" class="img-sizee" alt="">
				</div>
				<div class="card-text" style="text-align: center;">
					<p>Nombre de participations : 1</p>
					<p>Record course : 6'17</p>
					<p>Victoires/ Podium : 0</p>
					<p>Moyenne tir : 30%</p>
					<p>record 1 tour : 1'05</p>

				</div>
			</div>
		</div>
		<div class="col-m-5" style="width: 20rem;">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title" style="text-align: center;">Paulin</h3>
				</div>
				<div class="card-image" style="text-align: center;">
					<img src="./images/b7.jpg" style="width: 20rem;" class="img-sizee" alt="">
				</div>
				<div class="card-text" style="text-align: center;">
					<p>Nombre de participations : 10</p>
					<p>Record course : 3'30</p>
					<p>Victoires/ Podium : 0/3
					</p>
					<p>Moyenne tir : 64%</p>
					<p>record 1 tour : 1'04</p>

				</div>
			</div>
		</div>
        <div class="col-m-5" style="width: 20rem;">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title" style="text-align: center;">Simon</h3>
				</div>
				<div class="card-image" style="text-align: center;">
					<img src="./images/b4ts.jpg" style="width: 20rem;" class="img-sizee" alt="">
				</div>
				<div class="card-text" style="text-align: center;">
					<p>Nombre de participations : 8</p>
					<p>Record course : 4'38
					</p>
					<p>Victoires/ Podium : 0/5</p>
					<p>Moyenne tir : 68%</p>
					<p>record 1 tour : 1'03</p>

				</div>
			</div>
		</div>
        <div class="col-m-5" style="width: 20rem;">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title" style="text-align: center;">Romain</h3>
				</div>
				
				<div class="card-image" style="text-align: center;">
					<img src="./images/b5ts.jpg" style="width: 20rem;" class="img-sizee" alt="">
				</div>
				<div class="card-text" style="text-align: center;">
					<p>Nombre de participations : 11</p>
					<p>Record course : 4'16</p>
					<p>Victoires/ Podium : 1/8</p>
					<p>Moyenne tir : 85%</p>
					<p>record 1 tour : 1'07</p>

				</div>
			</div>
		</div>
        <div class="col-m-5" style="width: 20rem;">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title" style="text-align: center;">Enora</h3>
				</div>
				
				<div class="card-image" style="text-align: center;">
					<img src="./images/I88.png" style="width: 20rem;" class="img-sizee" alt="">
				</div>
				<div class="card-text" style="text-align: center;">
					<p>Nombre de participations : 5</p>
					<p>Record course : 6'46
					</p>
					<p>Victoires/ Podium : 0/0</p>
					<p>Moyenne tir : 25%</p>
					<p>record 1 tour : 1'32</p>

				</div>
			</div>
		</div>
        <div class="col-m-5" style="width: 20rem;">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title" style="text-align: center;">Damien</h3>
				</div>
				<div class="card-image" style="text-align: center;">
					<img src="./images/I00.png" style="width: 20rem;" class="img-sizee" alt="">
				</div>
				<div class="card-text" style="text-align: center;">
					<p>Nombre de participations : 8</p>
					<p>Record course : 4'38</p>
					<p>Victoires/ Podium : 0/2</p>
					<p>Moyenne tir : 87%</p>
					<p>record 1 tour : 1'20
					</p>

				</div>
			</div>
		</div>
        <div class="col-m-5" style="width: 20rem;">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title" style="text-align: center;">Cyrian</h3>
				</div>
				<div class="card-image" style="text-align: center;">
					<img src="./images/b8.jpg" style="width: 20rem;" class="img-sizee" alt="">
				</div>
				<div class="card-text" style="text-align: center;">
					<p>Nombre de participations : 9</p>
					<p>Record course : 4'39
					</p>
					<p>Victoires/ Podium : 0/3</p>
					<p>Moyenne tir : 72%</p>
					<p>record 1 tour : 1'16</p>

				</div>
			</div>
		</div>
        <div class="col-m-5" style="width: 20rem;">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title" style="text-align: center;">Loan</h3>
				</div>
				<div class="card-image" style="text-align: center;">
					<img src="./images/b3.jpg" style="width: 20rem;" class="img-sizee" alt="">
				</div>
				<div class="card-text" style="text-align: center;">
					<p>Nombre de participations : 7</p>
					<p>Record course : 4'35
					</p>
					<p>Victoires/ Podium : 0/4</p>
					<p>Moyenne tir : 75%</p>
					<p>record 1 tour : 1'06</p>

				</div>
			</div>
		</div>
        <div class="col-m-5" style="width: 20rem;">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title" style="text-align: center;">Thomas</h3>
				</div>
				<div class="card-image" style="text-align: center;">
					<img src="./images/b2.jpg" style="width: 20rem;" class="img-sizee" alt="">
				</div>
				<div class="card-text" style="text-align: center;">
					<p>Nombre de participations : 13</p>
					<p>Record course : 4'04</p>
					<p>Victoires/ Podium : 12/13</p>
					<p>Moyenne tir : 85,3%</p>
					<p>record 1 tour : 1'01</p>

				</div>
			</div>
		</div>


	</div>
{% endblock %}
