{% extends "base.html.twig" %}

{% block body %}
	<br>
	<div>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/5IQ0DvKUgN4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<div>
		<iframe width="699" height="393" src="https://www.youtube.com/embed/cyzvVSXX0_Q" title="Biathlon Festival Feucherolles" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

		<iframe width="699" height="393" src="https://www.youtube.com/embed/EBJAJ1WhkYQ" title="Biathlon Festival Feucherolles 2" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

		<iframe width="524" height="393" src="https://www.youtube.com/embed/TCg61zLU-i4" title="Biathlon Feucherolles Festival 5" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	</div>
{% endblock %}
